<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="products.id">{{l("EditProducts")}}</span>
                        <span *ngIf="!products.id">{{l("CreateNewProducts")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="products.userId" [(ngModel)]="products.userId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="Products_Name">{{l("Name")}} *</label>
									<input type="text" #Products_Name="ngModel" id="Products_Name" class="form-control" [(ngModel)]="products.name" name="Name"   minlength="2"  maxlength="25"  required/>
								    <validation-messages [formCtrl]="Products_Name"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="Products_Type">{{l("Type")}}</label>
									<select class="form-control" #Products_Type="ngModel" name="Type" id="Products_Type" [(ngModel)]="products.type" >
									<option value="1">{{l('Liquid')}}</option>

									<option value="2">{{l('Solid')}}</option>


									</select>
									<validation-messages [formCtrl]="Products_Type"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<productsUserLookupTableModal #productsUserLookupTableModal (modalSave)="getNewUserId()"></productsUserLookupTableModal>
		 
</div>